<<<<<<< HEAD
/* 
.wrapper {
    position: relative;
    width: auto;
    background-color: rgb(234,236,236);
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid;

} */

.heroImg{
    width: auto;
    height: 50vh;
    border: 2px solid;
    background-image: url(../images/hero.jpg);
    margin: 30px;
    background-size: cover;
    position: relative;
}


.heroImgtext{
    position: absolute;
    padding: 15px 15px;
    width: 400px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
}
.heroImglink{
    text-decoration: none;
    border: 1px solid rgb(15,121,175);
    position: absolute;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: rgb(15,121,175);
    top: 70%;
    left: 15%;
}
.heroImg:hover{
    cursor: pointer;    
}
/* .heroImg:hover .tooltiptext{
    visibility: visible;
}
/* tooltip */

/* .tooltiptext {
    position: absolute;
    border-radius: 6px;
    padding: 5px 5px;
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(117, 119, 119);
    color: white;
    top: 1%;
    left: 50%;
    visibility: hidden;

} */ 

/* .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
} */

/* switch styles */
.onSwitch p{
    margin-left: 40px;
    top: -10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 40px;
    top: -10px;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:rgb(35,46,63);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.card {
    border: 1px solid;
    border-collapse: 1px;
    height: 60vh;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
}
.card p:hover{
    color: tomato;
    text-decoration: underline;
}
.cardImg {
    height: 30vh;
    width: 20vw;
    padding: 10px;
    object-fit: contain;
}
.card .cardButtons {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.cardButtons a{
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    background-color: rgb(223, 222, 222);
    color: rgb(35,46,63);
}
.cardButtons a:hover{
    color: tomato;
    text-decoration: underline;
=======
/* 
.wrapper {
    position: relative;
    width: auto;
    background-color: rgb(234,236,236);
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid;

} */

.heroImg{
    width: auto;
    height: 50vh;
    border: 2px solid;
    background-image: url(../images/hero.jpg);
    margin: 30px;
    background-size: cover;
    position: relative;
}


.heroImgtext{
    position: absolute;
    padding: 15px 15px;
    width: 400px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
}
.heroImglink{
    text-decoration: none;
    border: 1px solid rgb(15,121,175);
    position: absolute;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: rgb(15,121,175);
    top: 70%;
    left: 15%;
}
.heroImg:hover{
    cursor: pointer;    
}
/* .heroImg:hover .tooltiptext{
    visibility: visible;
}
/* tooltip */

/* .tooltiptext {
    position: absolute;
    border-radius: 6px;
    padding: 5px 5px;
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(117, 119, 119);
    color: white;
    top: 1%;
    left: 50%;
    visibility: hidden;

} */ 

/* .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
} */

/* switch styles */
.onSwitch p{
    margin-left: 40px;
    top: -10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 40px;
    top: -10px;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:rgb(35,46,63);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.card {
    border: 1px solid;
    border-collapse: 1px;
    height: 60vh;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
}
.card p:hover{
    color: tomato;
    text-decoration: underline;
}
.cardImg {
    height: 30vh;
    width: 20vw;
    padding: 10px;
    object-fit: contain;
}
.card .cardButtons {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.cardButtons a{
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    background-color: rgb(223, 222, 222);
    color: rgb(35,46,63);
}
.cardButtons a:hover{
    color: tomato;
    text-decoration: underline;
>>>>>>> fc38dc19853f2223fc4da6681e66309e4b12e1f1
}